@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your global styles */
:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #ffffff;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

textarea {
  scrollbar-width: thin;
  scrollbar-color: rgb(183, 182, 182) #e2e8f0;
  resize: none;
}

.chat-area {
    scrollbar-width: thin;
  scrollbar-color: rgb(183, 182, 182) #e2e8f0;
  resize: none;
}

